/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* All Pages **************/


html{
	height:100%;
	font-size: 62.5%;  /* We can size rems in a way that is similar to using px */
	line-height: 1;
	background-color: #F2EDE4;
}

body{
	height:100%;
	/*font-size: 1.4rem; /* =14px kinda */
	font-family: 'Lato', sans-serif; font-weight: 400;
	color: #333;
	height: 100%;

}


*,
*:after,
*:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	margin: 0;
}

h1{
	font-size: 4.8rem;
	font-family: 'Montserrat', sans-serif; font-weight: 700;
	color: #444;

}

h2{
	font-size: 2.6rem;
	font-family: 'Montserrat', sans-serif; font-weight: 400;

}

h3{
	font-size: 2.0rem;
	font-family: 'Montserrat', sans-serif; font-weight: 400;

}

h6{
	font-size: 1.2rem;
}

p{
	font-size: 1.6rem;
}

/* Index Page ************/

.header{
	width: 100%;
	height: 80px;
	/*background-color: #666A73;*/
	margin: 0 auto;
	padding: 0 2%;
	position: relative;


}

.header_inner{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 5rem;

	

}

/*what a waste of time lol*/

/*.header_logo{
	display: inline-block;
	width: 33%;
	vertical-align:top;
}


.menu{	
	display: inline-block;
	text-align: right;
	width: 66%;
	vertical-align:top;

}
*/

.header_logo{
	float: left;
	margin-left: 1rem;


}

.menu{
	float: right;
	border-top: 3px solid #444;
}

.menu ul{
	list-style-type: none;
	margin-top: .5rem;
	
	
}


.menu ul li{
	position: relative;
	display: inline;
	font-family: 'Muli', sans-serif; font-weight: 300;
	font-size: 1.6rem;
	margin-left: 2rem;

}


.menu ul > li:first-child{
	margin-left: 0;
}


.menu ul > li:first-child:after{ /*cicle between the links*/
	content: " ";
	position: absolute;
	top: 6px;
	right: -13px;
	width: 5px;
	height: 5px;
	border-radius: 32px;
	background-color: black;

}


.header a{
	color: black;
	text-decoration: none;
		
}




.content{
	max-width: 1280px;
	
	min-height: 100%;
	height: auto !important;
	height: 100%;


	width: 90%;
	margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
	padding: 0 2%;
/*	box-sizing: border-box;
	-moz-box-sizing: border-box;*/
	position: relative;

}


.headline{
	margin: 11rem auto 14rem;
	padding: 0 2.4rem;
}


.headline h1{
	line-height: 5rem;

}

.headline a{
	color: black;
	text-decoration: none;
}

.about{
	margin:1.5rem auto;
	padding:0 2.4rem;
	line-height: 2.4rem;
	color: #444;

}



/*
solution> profile pic is one column, text_column is another, they sit
side by side via inline-block display */

.profilepic{
	/*float: left;*/
	display: inline-block;
	width: 15%;
	height: 16rem;
	/*margin-top: 3.2rem;*/
	margin-right: 10%;
	overflow: hidden;
	vertical-align:top;   /* shit gets weird if you don't do this with inline-block*/
	
}

.text_column {
	width: 70%;
	display: inline-block;
	vertical-align:top;
	margin-top: 3.2rem;
}



.profilepic img{
	width: 100%;
	
	/*border-radius: 10rem;*/ /* round dat img bro */
}

.about h2{
	/*margin: 0 0 1rem 0;*/
	/*margin-left: 200px;*/
	/*padding-top: 110px;*/
}



.about a{
	font-family: 'Lato', sans-serif; font-weight: 700; font-style: bold;
	color: black;
	text-decoration: none;
}



/********* work catalog */
.work_catalog{
	padding: 0 2.4rem;
}

.work_catalog li{
	display: inline-block;
	position: relative;
	width: 25rem;
	height: 25rem;
	margin: 0 2rem 6.4rem 0;
	background-color: #CCC;
/*	border-width: 2px;
	border-color: black;
	border-style: solid;
}*/







/*********** footer */

/*.push{
	height: 142px;

}*/
.footer{
	max-width: 1280px;
	width: 90%;
	height: 142px;
	margin: 0 auto;
	/*padding: 0 2%;*/
	text-align: center;
	border-top: 2px solid #444;

}







